:root {
  --container-width: 90%;
  --container-padding: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
}


.stepper-wrapper {
  width: var(--container-width);
  max-width: 500px;
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-sizing: border-box;
}

.step-input {
  margin-bottom: 1rem !important;
}

.step-buttons {
  margin-top: 16px;
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  gap: 0.5rem;
}

.step-complete {
  margin-top: 20px;
  padding: 16px;
  background-color: white;
  border: 1px solid green;
  border-radius: 8px;
  text-align: center;
}

.step-incomplete {
  margin-top: 20px;
  padding: 16px;
  background-color: white;
  border: 1px solid red;
  border-radius: 8px;
  text-align: center;
}

.password-toggle-button {
  padding: 0;
}

.MuiFormHelperText-root.Mui-error {
  font-weight: 500;
  color: red;
}

@media (max-width: 768px) {
  .stepper-wrapper {
    margin: 20px auto;
    padding: 1rem;
    width: 95%;
  }

  .step-buttons {
    flex-direction: column;
    align-items: stretch;
  }
}